*.db
*.opendb
*.tmp
**/*.so
**/*.pyd
**/*.whl

test/

src/device/vcproject/x64/
src/device/test/testdevice/testdevice
src/device/vcproject/Debug/
src/device/test/
src/device/src/build/
src/device/src/.vs/

src/network/vcproject/x64/
src/network/test/
src/network/src/.vs/
src/network/src/build/

src/stijava/
src/web/

src/server/src/.vs/
src/server/src/.sti/
src/server/src/build/
src/server/bin/
src/server/vcproject/x64/
src/server/vcproject/.vs/
src/server/test/log/
src/server/vcproject/.sti/

src/stipy/src/.vs/
src/stipy/bin/
src/stipy/src/build/
src/stipy/test/python/.sti/

src/stipy/stidevicepy/src/build/
src/stipy/stidevicepy/test/

examples/.sti/
examples/java/
examples/cpp/old/

examples/cpp/attributes/src/.sti/
examples/cpp/attributes/src/build/

examples/cpp/configFile/src/.sti/
examples/cpp/configFile/src/build/

examples/cpp/fileMeasurement/src/.sti/
examples/cpp/fileMeasurement/src/build/

examples/cpp/parseEvents/src/.sti/
examples/cpp/parseEvents/src/build/

examples/cpp/readWrite/src/.sti/
examples/cpp/readWrite/src/build/

examples/cpp/simpleDevice/src/.sti/
examples/cpp/simpleDevice/src/build/

examples/cpp/testdevice/src/.sti/
examples/cpp/testdevice/src/build/

examples/python/testDevice/.sti/

docs/build/

__pycache__/
_skbuild/
.vs/
.sti/
stipy.egg-info/
env/
dist/
build_env/

