vcproject/x64/
*.db
network/test2/vcproject/Debug/
*.opendb
network/test1/vcproject/x64/
network/test2/vcproject/x64/
network/test1/vcproject/Debug/
network/test2/src/test2
doc/~$etwork.docx
doc/~WRL3065.tmp
network/test2/corbatest/x64/Debug/
network/testORB/x64/
*.tmp
src/device/vcproject/x64/
src/network/vcproject/x64/
src/device/vcproject/Debug/
old/network/test2/vcproject/x64/
old/network/testORB/x64/
old/network/test2/vcproject/Debug/
old/vcproject/x64/Debug/
old/network/test2/corbatest/x64/
src/network/test/testcorba/x64/
old/network/test1/vcproject/x64/
old/network/test1/vcproject/Debug/
*.so
src/device/test/testdevice/testdevice
src/network/test/testcorba/src/testcorba
src/network/test/testcorbaclient/x64/
doc/doxygen/out/
src/device/test/testEvents/vcproject/x64/
src/device/test/testEngine/testEngine
src/network/test/testcorbaclient/src/testClient
src/network/test/testNodeWalker/x64/
src/network/src/deviceNet.*
src/network/src/deviceNetDynSK.*
src/network/src/orbTypes.*
src/network/src/orbTypesDynSK.*
doc/~$heduler.docx
doc/~$vice tree.docx
/src/device/test/testDependencyTree/main
src/device/python/src/__pycache__/
src/network/test/testEventEngine/x64/
src/network/src/.vs/
src/device/src/.vs/
src/server/src/.vs/
examples/cpp/testwin/testwindll/testwindll/x64/
examples/cpp/testwin/testwindll/.vs/
src/server/vcproject/x64/
src/server/vcproject/.vs/
src/stipy/src/.vs/
src/device/python/src/.vs/
*.pyd
examples/cpp/testPartners/project/x64/
examples/cpp/testPartners/project/.vs/
src/server/test/log/
examples/cpp/testdevice/src/out/build/
examples/python/testDevice/project/.vs/
examples/cpp/testdevice/src/.vs/
