vcproject/x64/
*.db
network/test2/vcproject/Debug/
*.opendb
network/test1/vcproject/x64/
network/test2/vcproject/x64/
network/test1/vcproject/Debug/
network/test2/src/test2
doc/~$etwork.docx
doc/~WRL3065.tmp
network/test2/corbatest/x64/Debug/
network/testORB/x64/
*.tmp
src/device/vcproject/x64/
src/network/vcproject/x64/
src/device/vcproject/Debug/
old/network/test2/vcproject/x64/
old/network/testORB/x64/
old/network/test2/vcproject/Debug/
old/vcproject/x64/Debug/
old/network/test2/corbatest/x64/
src/network/test/testcorba/x64/
old/network/test1/vcproject/x64/
old/network/test1/vcproject/Debug/
*.so
src/device/test/testdevice/testdevice
src/network/test/testcorba/src/testcorba
src/network/test/testcorbaclient/x64/
doc/doxygen/out/
src/device/test/testEvents/vcproject/x64/
src/network/test/testcorbaclient/src/testClient
