*.db
*.opendb
*.tmp
*.so
*.pyd
src/device/vcproject/x64/
src/device/test/testdevice/testdevice
src/device/vcproject/Debug/
src/device/test/testEvents/vcproject/x64/
src/device/test/testEngine/testEngine
src/device/test/testDependencyTree/main
src/device/python/src/__pycache__/
src/device/src/.vs/
src/device/python/src/.vs/
src/network/vcproject/x64/
src/network/test/testcorba/x64/
src/network/test/testcorba/src/testcorba
src/network/test/testcorbaclient/x64/
src/network/test/testcorbaclient/src/testClient
src/network/test/testNodeWalker/x64/
src/network/test/testEventEngine/x64/
src/network/src/.vs/
src/server/src/.vs/
src/server/vcproject/x64/
src/server/vcproject/.vs/
src/server/test/log/
src/server/vcproject/.sti/
src/stipy/src/.vs/
src/stipy/test/python/.sti/
examples/cpp/testwin/testwindll/testwindll/x64/
examples/cpp/testwin/testwindll/.vs/
examples/cpp/testPartners/project/x64/
examples/cpp/testPartners/project/.vs/
examples/cpp/testdevice/src/out/build/
examples/python/testDevice/project/.vs/
examples/cpp/testdevice/src/.vs/
examples/python/testDevice/.sti/
__pycache__/
_skbuild/
.vs/
.sti/
stipy.egg-info/
dist/
lib/
bin/
env/
build_env/
env1/
_conda_build/
dev/
build-ninja/
build-tsan/
src/network/src/generated/
